.Logo{
    inline-size: 70px;
    block-size: 70px;
}
.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    padding-right: 20px;
}
.right_section{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}
.Login_button{
    block-size: 30px;
    padding: 5px 15px
}